body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;

}

.wrapper {
    display: flex;
    justify-content: space-evenly;
}

.player1, .player2  {
    width: 400px;
    border: 1px black solid;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.divInput {
    display: flex;
    justify-content: space-evenly;
  
}